@model IEnumerable<OBB.Models.GetBusModel>;
@{
    var controller=Model.FirstOrDefault().ClaimId;
    if(controller!=0)
    {
        Layout="_Layout1";
    }
    else{
     Layout="_Layout";

    }
     ViewBag.Title="Msg";
}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #4CAF50;
        color: white;
    }
    tr:nth-child(even) {
        background-color: #F2F2F2;
    }
    a {
        color: #4CAF50;
        text-decoration: none;
    }
    a:hover {
        color: #4CAF50;
        text-decoration: underline;
    }
</style>
@using (Html.BeginForm())
{
   
}
<div>
    <h2>Bus Details</h2>
</div>

<table>
    <thead>
        <tr>
            <th>BusNo</th>
            <th>Name</th>
            <th>BusType</th>
            <th>RouteFrom</th>
            <th>RouteTo</th>
            <th>Time</th>
            <th>Date</th>
            <th>Total seat</th>
            <th>Available seat</th>
            <th>Booked Seat</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        @if(Model!=null && Model.Count()==0)
        {
            <p>You have some null value</p>
        }
        else
        {
            @foreach (var prod in Model)
            {
                
                <tr>
                    <td>
                        @prod.BusNo
                    </td>
                    <td>
                        @prod.Name
                    </td>
                    <td>
                        @prod.Bustype
                    </td>
                    <td>
                        @prod.RouteFrom
                    </td>
                    <td>
                        @prod.RouteTo
                    </td>
                    <td>
                        @prod.Time
                    </td>
                    <td>
                        @prod.Date
                    </td>
                    <td>
                        @prod.Totalseat
                    </td>
                    <td>
                        @prod.AvlbSeat
                    </td>
                    <td>
                        @prod.BookedSeat
                    </td>
                  
                    @if(prod.ClaimId==prod.Role&&prod.ClaimId!=0)
                    {  
                        <td>
                        <label>@Html.ActionLink("Edit","EditBus","Bus",new{@id=prod.BusId},new{@class="btn btn-primary"})
                    </label>
                    </td>
                    <td>
                        <label>@Html.ActionLink("BookingDetails","GetBookingDetails","Booking",new{@id=prod.BusId},new{@class="btn btn-primary"})
                    </label>
                    </td>
                    }
                    else
                    {
                         <td>
                        <label>@Html.ActionLink("BookNow","BookBusForm","Booking",new{@id=prod.BusId,@seat=prod.AvlbSeat},new{@class="btn btn-primary"}) 
                    </label>
                    </td>
                         
                    }
                       
                    <td>
                        <td>
   
</td>

                    </td>
                
                

                </tr>
            }
        }
    </tbody>
</table>






    